<strong>Olá, {{ deliveryman }} </strong>
		<p>Uma entrega foi cancelada</p>
		<p>
		 	<strong> Produto: </strong> {{product}} <br />
		  <strong> id da entrega: </strong> {{deliveryId}} <br />
      <strong> Problema: </strong> {{problem}} <br />
  		<br />

		</p>
