<strong>Olá, {{ deliveryman }} </strong>
		<p>Ha uma nova entrega disponivel para voce</p>
		<p>
		 	<strong> Produto: </strong> {{product}} <br />
		  <strong> Destinatario: </strong> {{recipient}} <br />
      <strong> Endereço: </strong> {{fullAddress}} <br />
  		<br />
		 	<small>
				Acesse sua tela para determinar data de retirada e entrega do produto
			</small>
		</p>
